{% extends 'base.html' %}

{% block content %}
<h1>Create Note</h1>
<hr>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" class="form-control clear-focus-highlight"
        name="txtTitle" value="{{ note.title }}" placeholder="Enter title...">
    <br>
    <textarea class="form-control clear-focus-highlight"
        name="txtNote" rows="10em"
        placeholder="Enter note..."></textarea>
    <br>
    <input type="submit" value="Save">
    <a href="{% url 'note_list' %}">Cancel</a>
</form>
{% endblock content %}
