{% extends 'base.html' %}

{% block content %}
<h1>Update Note {{ note.id }}</h1>
<hr>

<form action="{% url 'note_update' note.id %}" method="post">
    {% csrf_token %}
    <input type="text"
        name="txtTitle" value="{{ note.title }}" placeholder="Enter title...">
    <br>
    <textarea
        name="txtNote" rows="10em"
        placeholder="Enter note...">{{ note.note }}</textarea>
    <br>
    <input type="submit" value="Save">
    <a href="{% url 'note_delete' note.id %}">Delete</a>
    <a href="{% url 'note_list' %}">Cancel</a>
</form>
{% endblock content %}
